#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 200px;
    text-align: center;  
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 5rem;
    }

.inputs {
    display: grid;
}

.btn-primary {
    margin-bottom: 2rem;
}

#input-borda, #input-tamanho, #input-altura {
    margin-bottom: 1rem;
}
