{% extends 'base.html' %}
{% load static %}
{% block content %}
	<script src="{% static 'assets/js/jquery-file-upload/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<div class="page-inner">
		<form enctype="multipart/form-data" name="itensForm" method="POST" action="">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Autorização de Transito de Importação</div>
						</div>
						<div class="card-body">
							<div class="accordion accordion-secondary">
								<div class="card">
									<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<div class="span-icon">
											<div class="flaticon-file"></div>
										</div>
										<div class="span-title">
											Dados do Conhecimento
										</div>
										<div class="span-mode"></div>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-action">
											<div class="form-group form-floating-label">
												<!--<input id="inputFloatingLabel" name="add_object3" type="text" class="form-control input-border-bottom" >-->
												{{ form.CE.label }}
												{{ form.CE }}
												{{ form.BL.label }}
												{{ form.BL }}
												{{ form.REPREZAO.label }}
												{{ form.REPREZAO }}
												{{ form.REPCNPJ.label }}
												{{ form.REPCNPJ }}
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<div class="span-icon">
											<div class="flaticon-file-1"></div>
										</div>
										<div class="span-title">
											Status do Conhecimento
										</div>
										<div class="span-mode"></div>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
										<div class="card-body form-inline">
											<label for="id_FormConhec-EMISSAO" class="col col-form-label">{{ form.EMISSAO.label }}</label>
											<div class="col-md-11 p-0">
												{{ form.EMISSAO}}
												<!--<input type="text" class="form-control input-full" id="id_FormConhec-EMISSAO" placeholder="Enter Input"></input>-->
											</div>
										</div>
										<div class="card-body form-inline">
											<label for="id_FormConhec-SITUACAO" class="col-md-1 col-form-label">{{ form.SITUACAO.label }}</label>
											<div class="col-md-11 p-0">
												{{ form.SITUACAO}}
											</div>
										</div>
										<div class="card-body form-inline">
											<label for="id_FormConhec-MODALIDADE" class="col-md-1 col-form-label">{{ form.MODALIDADE.label }}</label>
											<div class="col-md-11 p-0">
												{{ form.MODALIDADE}}
											</div>
										</div>
										<div class="card-body form-inline">
											<label for="id_FormConhec-pORIGEM" class="col-md-1 col-form-label">{{ form.pORIGEM.label }}</label>
											<div class="col-md-11 p-0">
												{{ form.pORIGEM}}
											</div>
										</div>
										<div class="card-body form-inline">
											<label for="id_FormConhec-psPROCEDE" class="col-md-1 col-form-label">{{ form.psPROCEDE.label }}</label>
											<div class="col-md-11 p-0">
												{{ form.psPROCEDE}}
											</div>
										</div>
										<div class="card-body form-inline">
											<label for="id_FormConhec-UFdestino" class="col-md-1 col-form-label">{{ form.UFdestino.label }}</label>
											<div class="col-md-11 p-0">
												{{ form.UFdestino}}
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<div class="span-icon">
											<div class="flaticon-box-1"></div>
										</div>
										<div class="span-title">
											Dados da Mercadoria
										</div>
										<div class="span-mode"></div>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
										<div class="card card-action">
											{{ formMerc.management_form }}
											{% for item in formMerc %}		
											<table class="formset">
												<thead>
													<th>{{ item.CNT.label }}</th>
													<th>{{ item.cntISO.label }}</th>
													<th>{{ item.cntTipo.label }}</th>
													<th>{{ item.cntTara.label }}</th>
													<th>{{ item.cntPB.label }}</th>
													<th>{{ item.m3.label }}</th>
													<th>{{ item.codIMO.label }}</th>
													<th>{{ item.clasIMO.label }}</th>
													<th class="text-center">Action</th>
												</thead>
												<tbody>
													<tr>
														<td>{{ item.CNT }}</td>
														<td>{{ item.cntISO }}</td>
														<td>{{ item.cntTipo }}</td>
														<td>{{ item.cntTara }}</td>
														<td>{{ item.cntPB }}</td>
														<td>{{ item.m3 }}</td>
														<td>{{ item.codIMO }}</td>
														<td>{{ item.clasIMO }}</td>
														<td class="text-center">
															<button type="button" class="btn btn-icon btn-round btn-success add-form-row">
																<i class="fas fa-plus"></i>
															</button>
															<button type="button" class="btn btn-icon btn-round btn-danger remove-form-row">
																<i class="fas fa-trash-alt"></i>
															</button>
														</td>
														<td>{{ item.id }}</td>
													</tr>
												</tbody>
											</table>
											{% endfor %}			
										</div>
									</div>
								</div>
							</div>
							<!--<form name="modalForm" method="post" action="">-->
							<button class="btn btn-success">Salvar</button>
							<input class="btn btn-info" id ="btnEdit" type="button" onclick="spam()" value="Editar">
							<button class="btn btn-danger">Cancelar</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Anexos do Processo</h4>
								</div>
								<div class="card-body">
									<ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Build of Landing (BL)</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Conhecimento Embarque (CE)</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Declaração de Transporte (DTC/DTA)</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Documento Comercial (Invoice)</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Anexos Complementares</a>
										</li>
									</ul>
									<div class="tab-content mt-2 mb-3" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
											<div class="card-body">
												<div class="basic-datatables">
													<table id="gallery" class="table table-bordered">
														<thead>
															<tr>
																<th>Arquivo</th>
																<th>Enviado Em:</th>
																<th style="width: 5%">Ação</th>
															</tr>
														</thead>
														<tbody>
															{% for anexo in formAnexo%}
																<form id="formDelete" method="GET">
																{% csrf_token %}
																	<tr>
																		<td><a href="{{ anexo.arquivo.url }}">{{ anexo.arquivo.name }}</a></td>
																		<td>{{ anexo.data_envio }}</td>
																		<td>{% if anexo is not None %}
																				<button class="btn small btn-warning"><a href="{% url 'deleteAnexo' anexo.pk %}">Delete</a></button>
																			{% endif %}
																		</td>
																	</tr>
																</form>
															{% endfor%}
														</tbody>
													</table>
												</div>
												<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
													{{ formAnexoMore.management_form }}
													{{ formAnexoMore}}
													<h1 class="card-body">
														<button class="btn btn-success">Salvar</button>
													</h1>
													
												</div>
											</div>
											
										</div>
										<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
											<div class="card-body">
												<div class="basic-datatables">
													<table id="gallery" class="table table-bordered">
														<thead>
															<tr>
																<th>Arquivo</th>
																<th>Enviado Em:</th>
																<th style="width: 5%">Ação</th>
															</tr>
														</thead>
														<tbody>
															{% for anexoCE in formAnexoCE%}
																<form method="GET">
																{% csrf_token %}
																	<tr>
																		<td><a href="{{ anexoCE.arquivo.url }}">{{ anexo.arquivo.name }}</a></td>
																		<td>{{ anexoCE.data_envio }}</td>
																		<td>{% if anexoCE is not None %}
																				<button class="btn small btn-warning"><a href="{% url 'deleteAnexo' anexoCE.pk %}">Delete</a></button>
																			{% endif %}
																		</td>
																	</tr>
																</form>
															{% endfor%}
														</tbody>
													</table>
												</div>
												<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
													{{ formAnexoCEMore}}
													<h1 class="card-body">
														<button class="btn btn-success">Salvar</button>
													</h1>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
{% endblock %}

{% block jquery %}
	<!--   Core JS Files   -->
		<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
		<!-- jQuery UI -->
		<script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script>
		<script src="{% static 'assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
		<!-- jQuery Scrollbar -->
		<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
		<!-- Atlantis JS -->
		<script src="{% static 'assets/js/atlantis.min.js' %}"></script>
		<!-- Atlantis DEMO methods, don't include it in your project! -->
		<script src="{% static 'assets/js/setting-demo2.js' %}"></script>
		<script src="{% static 'assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>
	
	<script>
		function updateElementIndex(el, prefix, ndx) {
		   var id_regex = new RegExp('(' + prefix + '-\\d+)');
		   var replacement = prefix + '-' + ndx;
		   if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		   if (el.id) el.id = el.id.replace(id_regex, replacement);
		   if (el.name) el.name = el.name.replace(id_regex, replacement);
		}
		function cloneMore(selector, prefix) {
			var newElement = $(selector).clone(true);
			var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
			newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
				var name = $(this).attr('name')
				if(name) {
					name = name.replace('-' + (total-1) + '-', '-' + total + '-');
					var id = 'id_' + name;
					$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
				}
			});
			newElement.find('label').each(function() {
				var forValue = $(this).attr('for');
				if (forValue) {
				  forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
				  $(this).attr({'for': forValue});
				}
			});
			total++;
			$('#id_' + prefix + '-TOTAL_FORMS').val(total);
			$(selector).after(newElement);
			
			return false;
		}
		function deleteForm(prefix, btn) {
			var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
			if (total > 1){
				var formset_id
				formset_id = btn.closest('.formset').find("input[type='hidden']").attr('value');
				btn.closest('.formset').remove()
				if (formset_id > 0){
					$.ajax({
						url : "{% url 'delete' %}", // the endpoint
						type : "POST", // http method
						data : { cnt : formset_id }, // data sent with the delete request
						beforeSend: function (xhr) {
							xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');},
						success : function(json) {
							// hide the post
							alert('deu boa')
							// hide the post on success
						  console.log("post deletion successful");
						},
					  });
				}
				
				var forms = $('.formset');
				$('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
				for (var i=0, formCount=forms.length; i<formCount; i++) {
					$(forms.get(i)).find(':input').each(function() {
						updateElementIndex(this, prefix, i);
					});
				}
			}
			return false;
		}
		$(document).on('click', '.add-form-row', function(e){
			e.preventDefault();
			cloneMore('.formset:last', 'FormMerc');
			return false;
		});
		$(document).on('click', '.remove-form-row', function(e){
			e.preventDefault();
			deleteForm('FormMerc', $(this));
			return false;
		});
		
		
	</script>
	<script>
		$(document).ready(function(){

			;$('#gallery').DataTable({
			});			
			$("input[name='CE']").attr('readonly', true);
			$("input[name='BL']").attr('readonly', true); 
			$("input[name='REPREZAO']").attr('readonly', true); 
			$("input[name='REPCNPJ']").attr('readonly', true);
			$("input[name='EMISSAO']").attr('readonly', true); 
			$("input[name='SITUACAO']").attr('readonly', true);
			$("input[name='MODALIDADE']").attr('readonly', true);
			$("input[name='pORIGEM']").attr('readonly', true);
			$("input[name='psPROCEDE']").attr('readonly', true); 
			$("input[name='UFdestino']").attr('readonly', true);
			
			$.each($('form').serializeArray(), function(index, value){
				$('[name="' + value.name + '"]').attr('readonly', 'readonly');
			});
			
			$('#btnEdit').click(function(){
				$("input[name='CE']").removeAttr( "readonly" ); 
				$("input[name='BL']").removeAttr( "readonly" ); 
				$("input[name='REPREZAO']").removeAttr( "readonly" ); 
				$("input[name='REPCNPJ']").removeAttr( "readonly" ); 
				$("input[name='EMISSAO']").removeAttr( "readonly" ); 
				$("input[name='SITUACAO']").removeAttr( "readonly" ); 
				$("input[name='MODALIDADE']").removeAttr( "readonly" ); 
				$("input[name='pORIGEM']").removeAttr( "readonly" ); 
				$("input[name='psPROCEDE']").removeAttr( "readonly" ); 
				$("input[name='UFdestino']").removeAttr( "readonly" );
				
				$.each($('form').serializeArray(), function(index, value){
					$('[name="' + value.name + '"]').removeAttr('readonly');
				});
			});
		});
	</script>
	
{% endblock %}