@import '../variables', '../base';

.header {
  background-color: $menu-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  font-weight: 700;
}

.menu-list {
  display: flex;
}

.menu-list > li {
  padding: 0 1rem;
}