@mixin box-shadow($color, $radius) {
  box-shadow: $radius $radius $radius $radius rgba($color, 0.6);
}

@mixin personal-p($color, $weight, $size) {
  p {
    color: $color;
    font-weight: $weight;
    font-size: $size;
  }
}