@import 'base', 'extend_classes', 'mixin';

.header {
  background-color: $header-color;
  width: 100%
}

.footer {
  background-color: $footer-color
}

.aside {
  background-color: $aside-color;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include personal-p(white, 600, 16px)
}

.box {
  @include box-shadow(black, 5px);
  @extend .flex-center-column;
  margin: 1rem 0;
  padding: 1rem;
}