body {
  text-align: center;
  font-family: Montserrat;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 10px; // Espaço entre as divs
}

.grid > div {
  background: red;
  margin: .5rem;
  text-align: center;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr;
}

.grid-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6d9df0;
  margin: .5rem;
  text-align: center;
}