/* RESET BOOTSTRAP */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: black;
}

li {
  list-style-type: none
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

/* New Style */

header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 81px;
  position: sticky;
  width: 100%;
  opacity: 1;
  background-color: white;
  transition: top 0.1s;
  z-index: 1;
}

header img {
  width: 154px;
  height: 70px;
}

.warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00E58D;
  width: 100%;
  height: 40px;
}

.warning-text span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.warning-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-size: 14px;
}

.nav-bar-links li a {
  text-decoration: none !important;
  margin-left: 25px;
  color: black;
}

.close-link {
  margin-left: 10px;
  cursor: pointer;
}

.nav-bar-links li:last-child {
  margin-left: 30px;
}

.menu-icons {
  margin-left: 5px;
}

.footer-icons {
  margin: auto 10px auto 10px;
}


.btn-billet {
  background-color: #A9E4EB;
  border: none;
  font-size: 14px;
  font-weight: 800;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
  position: relative;
  left: 5%;
}

.btn-billet:hover {
  background-color: #43BBC9;
  color: #000000;
}

.negotiate-your-debts {
  background-color: #CAFCE9;
  height: 700px;
}

.clean-your-name {
  height: 300px;
}

.partners {
  background-color: #F5F5F5;
  height: 658px;
}

.how-we-do-it-differently {
  background-color: #CAFCE9;
  height: 911px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.how-we-do-it-differently figure img {
  border-radius: 25px;
  width: 100%;
  height: 690px;
  margin-left: 50%;
}

.cards {
  flex-direction: column;
  width: 35%;
  position: relative;
  right: 1.5%;
  top: 3%;
}

.cards h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  width: 32%;
}

#img-special {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 254px;
  top: 80px;
}

#img-featured {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 473px;
  top: 137px;
}

#cards-content {
  display: flex;
  flex-wrap: wrap;
}

#cards-content div {
  width: 270px;
  margin: 2%;
  height: 270px;
  padding: 27px;
  background: #FFFFFF;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

#cards-content div img {
  margin-bottom: 10px;
}

#cards-content div h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 21px;
}

#cards-content div p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#cards-content > div:nth-child(2n+1) {
  margin-left: 0px;
}

.help-a-millions {
  background-color: #DFB0FF;
  height: 691px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#help-a-millions-text {
  flex-direction: column;
  width: 23%;
  margin-left: 8%;
  display: flex;
  justify-content: space-around;
}

#help-a-millions-title {
  color: white;
  width: 88%;
}

#help-a-millions-title h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
}

#help-a-millions-text p {
  margin: 14px 0px 14px 0px;
  display: flex;
  line-height: 20px;
  width: 68%;
  justify-content: space-between;
  font-family: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#help-a-millions-text p b {
  white-space: nowrap;
}

#help-a-millions-text p img {
  margin-right: 8%;
  height: 69px;
  width: 30%;
}

#img-couple {
  position: relative;
  bottom: 50%;
  width: 100%;
}

#help-a-millions-text > p:nth-child(3) > img {
  height: 36px;
}

#help-a-millions-text > p:nth-child(2) > img {
  margin-right: 11%;
}

.couple {
  max-width: 40%;
  max-height: 691px;
  position: relative;
}

.carousel-inner,
.carousel-item-next,
.carousel-item.active {
  display: flex;
}

.carousel-item-next::active p,
.carousel-item-prev::active p {
  width: 300px;
  position: relative;
  left: 8%;
  top: 10%;
}

#carouselClients {
  width: 50%;
  position: relative;
  left: -8%;
}

#carouselWeDo {
  display: none;
}

.seal {
  position: relative;
  left: -41.5rem;
  bottom: -22rem;
}

.carousel-inner figure {
  position: absolute;
  margin-top: 1.1rem;
  left: 16%;
}

.carousel-inner figure>img:last-of-type {
  margin-left: 15.5rem;
}

.our-clients {
  height: 441px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}



.our-clients h1 {
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  width: 21rem;
  position: relative;
  left: 175px;
}

.our-clients div div div p {
  font-size: 15px;
  width: 233px;
  margin: 50px;
  height: 177px;
}

.our-clients div div div p b {
  line-height: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.social a i {
  color: white;
}

.social-icons {
  letter-spacing: 4px;
  position: relative;
  left: 55px;
}


.big-footer {
  background-color: #404040;
  height: 334px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.big-footer-content {
  width: 70%;
  position: relative;
  bottom: 9%;
}

.little-footer {
  background-color: #000000;
  height: 35px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.img-text-quetinho {
  position: absolute;
  right: 155px;
  bottom: -130px;
}

.logo-footer img {
  width: 128px;
  height: 29px;
}

.footer-links {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-links-subtitle {
  display: flex;
  flex-direction: column;
}

.footer-links-subtitle a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer-links-subtitle a:hover {
  color: rgb(12, 118, 179);
  text-decoration: none;
  font-size: 12px;
}

.footer-links-subtitle h6 {
  line-height: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 12px;
}

.little-footer-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help {
  background-color: #CAFCE9;
  height: 1173px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
}

.help-content {
  width: 25%;
  flex-wrap: wrap;
}

.help-content p {
  font-size: 14px;
}

.help h1 {
  font-size: 44px;
  margin-top: 0%;
  font-family: 'Fredoka One', cursive;
}

.help h1 {
  letter-spacing: -3px;
}

.help h6 {
  font-weight: 900;
  font-size: 18px;
  margin: 20px auto 1px auto;
}

.accordion {
  width: 30%;
}

.heading {
  height: 45px;
}

.heading:hover h2 {
  margin-top: 1px;
}

.heading:hover h2 button {
  color: #1bcc8b;
  margin-top: 5px;
}

.heading h2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.heading h2 .fa-plus {
  color: #00E58D;
  margin-right: 4%;
  font-size: 75%;
}

.card-help {
  margin-top: 3%;
}

.btn-help {
  color: #404040;
  font-weight: 500;
  font-size: 14px;
  margin-left: 4%;
}

.heading h2 button:active,
.btn-help:hover,
.btn-help:active {
  text-decoration: none;
}

.card-body p {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-left: 4%;
  color: #9b9b9b;
  width: 476px;
  font-family: inherit;
}

.card-body p a {
  font-weight: 100;
}

.btn-need-help {
  margin-top: 2%;
  background-color: #00E58D;
  font-size: 17px;
  font-weight: 600;
  font-family: inherit;
  padding: 15px;
  width: 15%;
  border-radius: 10px;
}



.btn-need-help:hover {
  background-color: #12C07D;
  color: #000000;
}

.circle-arrow-up .fa-arrow-up {
  color: #323232;
  position: relative;
  top: 8px;
}

.circle-arrow-up {
  background-color: #00E58D;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  position: relative;
  top: -33px;
}

.fa-arrow-circle-o-right {
  color: red;
}

#radius1,
#radius2,
#radius3,
#radius4,
#radius5,
#radius6,
#radius7,
#radius8,
#radius9 {
  border-radius: 10px;
}

#radius1:hover,
#radius2:hover,
#radius3:hover,
#radius4:hover,
#radius5:hover,
#radius6:hover,
#radius7:hover,
#radius8:hover,
#radius9:hover {
  border-radius: 10px;
  border: 2px solid #59ecb6;
}