<!doctype html>
<html lang="pt-BR">

<head>
    <title>QuiteJá</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
    <link href="./assets/css/normalize.css" rel="stylesheet" />
    <link href="./assets/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <section class="warning">
        <p class="warning-text">
            <span>Aviso: </span>Não realizamos nenhuma negociação por WhatsApp ou Facebook.
            Negociamos somente aqui no nosso site
            <a class="close-link">
                <i class="fas fa-times"></i>
            </a>
        </p>
    </section>
    <header>
        <figure>
            <img src="./assets/img/logo-quiteja.png" alt="Logo QuiteJá" title="Logo QuiteJá">
        </figure>
        <nav>
            <ul class="nav-bar-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Sobre nós</a>
                </li>
                <li>
                    <a href="#">Parceiros
                        <i class="fas fa-angle-down menu-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Saiba Mais
                        <i class="fas fa-angle-down menu-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#">Ajuda</a>
                </li>
                <li>
                    <a class="btn btn-primary btn-billet" href="#" role="button">Meus boletos</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <article>
        <section class="negotiate-your-debts"></section>
        <section class="clean-your-name"></section>
        <section class="partners"></section>
        <section class="how-we-do-it-differently"></section>
        <section class="help-a-millions"></section>
        <section class="our-clients"></section>
        <section class="help">
            <div class="help-content">
                <h1>Precisa de ajuda?</h1>
                <p>
                    Quite suas dúvidas com as perguntas mais
                    frequentes sobre a nossa empresa e negociação.
                </p>
            </div>
            <h6>Negociação</h6>
            <div class="accordion" id="accordionExample">
                <div class="card card-help">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Collapsible Group Item #1
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Some placeholder content for the first accordion panel. This panel is shown by default,
                            thanks to the <code>.show</code> class.
                        </div>
                    </div>
                </div>
                <div class="card card-help">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Collapsible Group Item #2
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Some placeholder content for the second accordion panel. This panel is hidden by
                            default.
                        </div>
                    </div>
                </div>
                <div class="card card-help">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Collapsible Group Item #3
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel
                            is hidden by default.
                        </div>
                    </div>
                </div>
            </div>
            <h6>Sobre a QuiteJá</h6>
        </section>
    </article>
    <footer>
        <div class="big-footer">
            <div class="big-footer-content">
                <section class="social">
                    <figure class="logo-footer">
                        <img src="./assets/img/footer-logo.png" alt="">
                    </figure>
                    <div class="social-icons">
                        <i class="fas fa-wifi" aria-hidden="true"></i>
                        <i class="fab fa-facebook-square" aria-hidden="true"></i>
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </div>
                </section>
                <section class="footer-links">
                    <div class="footer-links-subtitle">
                        <h6>Nossos Parceiros</h6>
                        <a href="#">Santander</a>
                        <a href="#">Pernambucanas</a>
                        <a href="#">Porto Seguro</a>
                        <a href="#">Digio</a>
                        <a href="#">Itapeva</a>
                        <a href="#">Casas Bahia</a>
                        <a href="#">Pontofrio</a>
                        <a href="#">Stone</a>
                    </div>
                    <div class="footer-links-subtitle">
                        <h6>Parceiros</h6>
                        <a href="#">Como funciona</a>
                        <a href="#">Seja um parceiro</a>
                    </div>
                    <div class="footer-links-subtitle">
                        <h6>Sobre nós</h6>
                        <a href="#">Trabalhe conosco</a>
                        <a href="#">Na mídia</a>
                        <a href="#">Blog</a>
                    </div>
                    <div class="footer-links-subtitle">
                        <h6>Transparência</h6>
                        <a href="#">Política de privacidade</a>
                        <a href="#">Termos de use</a>
                    </div>
                    <div class="footer-links-subtitle">
                        <h6>Saiba mais</h6>
                        <a href="#">Dicas de segurança</a>
                        <a href="#">Como negociar dividas</a>
                    </div>
                    <div class="footer-links-subtitle">
                        <h6>Ajuda</h6>
                        <a href="#">Fale conosco</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="little-footer">
            <div class="little-footer-content">
                <section class="information">
                    <p>CNPJ: 06.145.272/0001-66
                        <i class="fas fa-map-marker-alt footer-icons"></i>Av. Cândido de Abreu, 70 - Curitiba - PR
                    </p>
                </section>
                <section class="copyrights">
                    <p>2021 &copy Todos os direitos reservados QuiteJá</p>
                </section>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>