{% extends 'tables.html' %}
{% block table-article %}
<thead>

    <tr>
        <th>Id</th>
        <th style="width: 50px;">Arquivo</th>
        <th>Descrição</th>
        <th>Data de Publicação</th>
        {% if perms.global_permissions.acesso_rh or perms.global_permissions.acesso_ti %}
            <th>Editar</th>
        {% endif %}
    </tr>

</thead>

<tbody>
    {% for model in object_list %}
        <tr>
            <td>{{model.id}}</td>
            <td>
                <div class='row image-gallery'>
                <a href='{{ model.arquivo.url }}'>
                    <img src="{{ model.arquivo.url }}" class="img-fluid" width="100" height="100">
                </a>
                </div>
            </td>
            <td>{{model.descricao}}</td>
            <td>{{model.pub_date}}</td>
            {% if perms.global_permissions.acesso_rh or perms.global_permissions.acesso_ti %}
                <td style='width: 5em;'>     
                    <form method="post" action="{% url 'cardapio_delete' model.id %}" id='send-delete'>
                        <a class="fas fa-edit" href="{% url 'cardapio_update' model.id %}"></a>  
                        {% csrf_token %}                
                        <a class="fas fa-trash" style="color: red; margin-left: 1em"></a>
                    </form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>
{% endblock %}



{% block table-create %}
{% if perms.global_permissions.acesso_rh or perms.global_permissions.acesso_ti %}
<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h4 class="card-title">Add Row</h4>
            
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h1>{{form.label}}</h1>
                {{form}}
                <button class="btn btn-primary btn-round ml-auto" type="submit" value="Submit" style="margin-top: 1em;"><i class="fa fa-plus" aria-hidden="true" style="margin-right: 0.5em"></i>Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
