/* RESET BOOTSTRAP */
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: black;
}

li {
  list-style-type: none
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* New Style */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 81px;
}

header img {
  width: 154px;
  height: 70px;
}

section.warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00E58D;
  width: 100%;
  height: 40px;
}

p.warning-text span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

p.warning-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

ul.nav-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-size: 14px;
}

ul.nav-bar-links li a {
  text-decoration: none !important;
  margin-left: 25px;
  color: black;
}

a.close-link {
  margin-left: 10px;
  cursor: pointer;
}

ul.nav-bar-links li:last-child {
  margin-left: 30px;
}

.menu-icons {
  margin-left: 5px;
}

.footer-icons {
  margin: auto 10px auto 10px;
}


.btn-billet {
  width: 100%;
  background: #A9E4EB;
  border: none;
  font-size: 14px;
  font-weight: 800;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.negotiate-your-debts {
  background-color: #CAFCE9;
  height: 700px;
}

.clean-your-name {
  height: 300px;
}

.partners {
  background-color: #F5F5F5;
  height: 658px;
}

.how-we-do-it-differently {
  background-color: #CAFCE9;
  height: 911px;
}

.help-a-millions {
  background-color: #DFB0FF;
  height: 691px;
}

.our-clients {
  height: 300px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.social-icons {
  letter-spacing: 4px;
}

.big-footer {
  background-color: #404040;
  height: 334px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.little-footer {
  background-color: #000000;
  height: 35px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 10px;
}

.logo-footer img {
  width: 128px;
  height: 29px;
}

.footer-links {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-links-subtitle {
  display: flex;
  flex-direction: column;
}

.footer-links-subtitle a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer-links-subtitle a:hover {
  color: rgb(12, 118, 179);
  text-decoration: none;
  font-size: 12px;
}

.footer-links-subtitle h6 {
  font-weight: 900;
}

.big-footer-content {
  width: 70%;
}

.little-footer-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help {
  background-color: #CAFCE9;
  height: 1061px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.help-content {
  width: 25%;
  flex-wrap: wrap;
}

.help-content p {
  font-size: 14px;
}

.help h1 {
  font-size: 40px;
  margin-top: 10%;
  font-family: 'Fredoka One', cursive;
}

.help h6 {
  font-weight: 900;
  margin: 20px auto 1px auto;
}

.accordion {
  width: 40%;
}

.card-help {
  margin-top: 3%;
}

.btn-help {
  color: #404040;
  font-weight: 600;
  font-size: 10px;
}

div.heading h2 button:active, .btn-help:hover, .btn-help:active {
  text-decoration: none;
}

.btn-help .fa-plus {
  color: #00E58D;
  float: right;
}

.card-body p {
  text-align: left;
}

.btn-need-help {
  margin-top: 2%;
  background-color: #00E58D;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  width: ;
}