/* RESET BOOTSTRAP */
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: black;
}

li {
  list-style-type: none
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* New Style */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 81px;
  position: fixed;
  width: 100%;
  background: white;
  transition: top 0.1s;
}

header img {
  width: 154px;
  height: 70px;
}

.warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00E58D;
  width: 100%;
  height: 40px;  
}

.warning-text span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.warning-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-size: 14px;
}

.nav-bar-links li a {
  text-decoration: none !important;
  margin-left: 25px;
  color: black;
}

.close-link {
  margin-left: 10px;
  cursor: pointer;
}

.nav-bar-links li:last-child {
  margin-left: 30px;
}

.menu-icons {
  margin-left: 5px;
}

.footer-icons {
  margin: auto 10px auto 10px;
}


.btn-billet {
  width: 100%;
  background: #A9E4EB;
  border: none;
  font-size: 14px;
  font-weight: 800;
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.negotiate-your-debts {
  background-color: #CAFCE9;
  height: 700px;
}

.clean-your-name {
  height: 300px;
}

.partners {
  background-color: #F5F5F5;
  height: 658px;
}

.how-we-do-it-differently {
  background-color: #CAFCE9;
  height: 911px;
}

.help-a-millions {
  background-color: #DFB0FF;
  height: 691px;
  display: flex;
}

.carousel-inner, 
.carousel-item-next,
.carousel-item.active {
  display: flex;
}

.carousel-item-next::active p,
.carousel-item-next p, 
.carousel-item-left p,
.carousel-item.active p,
.carousel-item p,
.carousel-item-next p {
  width: 300px;
  position: relative;
  left: 8%;
  top: 10%;
}

.carousel-inner {
  margin-left: 17%;
}

.carousel-inner figure {
  position: absolute;
  margin-top: 1.1rem;
}

.carousel-inner figure > img:last-of-type {
  margin-left: 15.5rem;
}


.our-clients {
  height: 441px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.our-clients figure {
  position: absolute;
}

.our-clients h1 {
  align-items: center;
  width: 19rem;
  position: relative;
  left: 175px;
}

.our-clients div div div p {
  font-size: 15px;
  width: 233px;
  margin: 50px;
  height: 177px;
}

.our-clients div div div p b {
  line-height: 50px;  
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.social a i {
  color: white;
}

.social-icons {
  letter-spacing: 4px;
}


.big-footer {
  background-color: #404040;
  height: 334px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.big-footer-content {
  width: 70%;
  position: relative;
  bottom: 9%;
}

.little-footer {
  background-color: #000000;
  height: 35px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 10px;
}

.img-circle {
  position: absolute;
  right: 290px;
  bottom: -56px;
}

.img-long-arrow {
  position: absolute;
  right: 331px;
  bottom: -80px;
}

.img-text-quetinho {
  position: absolute;
  right: 226px;
  bottom: -101px;
}

.logo-footer img {
  width: 128px;
  height: 29px;
}

.footer-links {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-links-subtitle {
  display: flex;
  flex-direction: column;
}

.footer-links-subtitle a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer-links-subtitle a:hover {
  color: rgb(12, 118, 179);
  text-decoration: none;
  font-size: 12px;
}

.footer-links-subtitle h6 {
  font-weight: 900;
}

.little-footer-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help {
  background-color: #CAFCE9;
  height: 1361px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
}

.help-content {
  width: 25%;
  flex-wrap: wrap;
}

.help-content p {
  font-size: 14px;
}

.help h1, .our-clients h1 {
  font-size: 41px;
  margin-top: 0%;
  font-family: 'Fredoka One', cursive;
}

.help h6 {
  font-weight: 900;
  font-size: 18px;
  margin: 20px auto 1px auto;
}

.accordion {
  width: 30%;
}

.heading {
  height: 45px;
}

.heading:hover h2{
  margin-top: 1px;
}

.heading:hover h2 button{
  color: #1bcc8b;
  margin-top: 5px;
}

.heading h2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.heading h2 .fa-plus{
  color: #00E58D;
  margin-right: 4%;
  font-size: 75%;
}

.card-help {
  margin-top: 3%;
}

.btn-help {
  color: #404040;
  font-weight: 500;
  font-size: 14px;
  margin-left: 4%;
}

.heading h2 button:active, .btn-help:hover, .btn-help:active {
  text-decoration: none;
}

.card-body p {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-left: 4%;
  color: #9b9b9b;
  width: 476px;
  font-family: inherit;
}
.card-body p a{
  font-weight: bold;
}

.btn-need-help {
  margin-top: 2%;
  background-color: #00E58D;
  font-size: 17px;
  font-weight: 600;
  font-family: inherit;
  padding: 15px;
  width: 15%;
  border-radius: 10px;
}

.circle-arrow-up .fa-arrow-up {
  color: #323232;
  position: relative;
  top: 8px;
}

.circle-arrow-up {
  background-color: #00E58D;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  position: relative;
  top: -33px;
}

.fa-arrow-circle-o-right {
  color: red;
}

#carouselExampleControls {
  width: 50%;
}

#radius1, #radius2, #radius3, 
#radius4,#radius5,#radius6, 
#radius7, #radius8, #radius9 {
  border-radius: 10px;
}

#radius1:hover, #radius2:hover, #radius3:hover, 
#radius4:hover, #radius5:hover,#radius6:hover,
#radius7:hover,#radius8:hover, #radius9:hover {
  border-radius: 10px;
  border: 2px solid #59ecb6;
}