<!doctype html>
<html lang="pt-BR">

<head>
    <title>QuiteJá</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
    <link href="./assets/css/normalize.css" rel="stylesheet" />
    <link href="./assets/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <section class="warning">
        <p class="warning-text">
            <span>Aviso: </span>Não realizamos nenhuma negociação por WhatsApp ou Facebook.
            Negociamos somente aqui no nosso site
            <a class="close-link">
                <i class="fas fa-times"></i>
            </a>
        </p>
    </section>
    <header>
        <figure>
            <img src="./assets/img/logo-quiteja.png" alt="Logo QuiteJá" title="Logo QuiteJá">
        </figure>
        <nav>
            <ul class="nav-bar-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Sobre nós</a>
                </li>
                <li>
                    <a href="#">Parceiros</a>
                    <i class="fas fa-angle-down menu-icons"></i>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Saiba Mais</a>
                    <i class="fas fa-angle-down menu-icons"></i>
                </li>
                <li>
                    <a href="#">Ajuda</a>
                </li>
                <li>
                    <a class="btn btn-primary btn-billet" href="#" role="button">Meus boletos</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <article>

    </article>
    <footer>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>